@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(120deg, #ffffff, 42.9%, #4c79d3 45%);
  
}
.Inicio{
  background: linear-gradient(120deg, #4c79d3, 47.9%, #ffffff 45%)
}

.cabecalho {
  display: flex;
  width: 100rem;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem, 2.4rem;
}

.cabecalho-imagem {
  height: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}


.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color:blue;
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
  

  min-width: 320px;
  max-width: 2330px;
  margin: auto;
  
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid black;

  padding: 25px;
  

  min-width: 220px;
  max-width: 2330px;
  margin: auto;
  
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10%;

  padding: 20px;
  

  min-width: 220px;
  max-width: 2330px;
  margin: auto;
  
}


.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 30px;
  
}

.conteudo-principal-escrito-titulo {
  font-size: 2.8rem;
  letter-spacing: 0.16em;
}

.conteudo-principal-escrito-titulo-2{
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  
}

.conteudo-principal-escrito-subtitulo {
font-size: 2.8rem;
letter-spacing: 0.08em;
}

.conteudo-principal-escrito-botao {
  background-color: white;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: black;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(53, 57, 119, 0.53);
}

.conteudo-principal-imagem {
  height: 430px;
  margin-top: 25px;
}
.conteudo-meio-da-pagina{
  padding: 6.2rem 1.2rem;
  background: linear-gradient(120deg, #ffffff, 40.5%, #4c79d3 45%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

.conteudo-meio-da-pagina .text{
  font-size: 2.8rem;
  letter-spacing: 0.08em;
  text-align: center;
  color: black;
}

.conteudo-meio-da-pagina .icones {
  color: #1317e0;
}



.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #1317e0;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #030303;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #030303;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
  height: 55px;
  display: block;
  margin: 0 auto;
}

.kodfun-galeri{
  display: flex;
  height: 20rem;
  gap: 1rem;
}
.kodfun-galeri > div{
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.kodfun-galeri > div:hover{
  flex: 5;
}
.Conteudo-da-pagina-titulo{
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #FFF2EF;
  margin-bottom: 16px;
  text-align: center;
}
.principal-imagem-2{
  height: 48px;
  margin-top: 45;
}
.cabeçalho{
  background-color: #4c79d3;
}
.conteudo-principal-imagem{
 height: 80;
 display: block;
 margin: 0 auto;
 margin: 40;
}

.nav-item{
  background: linear-gradient(120deg, #ffffff, 42.9%, #4c79d3 45%);
}
.contato-icons{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.a{
  display: inline-block;
  text-decoration: none;
}

.contato-icons img{
  transition: 0.2s ease;
  height: 55px;
  display: block;
  margin: 0 auto;

}
.img{
  max-width: 100% ;
  height: auto;
  display: block;
}
.js-scroll.ativo{
  opacity: 1;
  transform: translateX(0);
}
.layout{
  max-width: 1366px;
  margin: 0 auto;
}

.skills-container {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 28px;
  padding: 135px 100px 175px;
}

.p{
  color: var(--text);
  font-family: 'Gill Sans', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 155%;
  letter-spacing: 0.03rem;
}

.skill-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.skill {
  display: grid;
  background-color: var(--darkbg);
  border: 2px solid rgba(0, 0, 0, 0.5);
  transition: all 0.6s;
  padding: 4px 18px 6px;
  border-radius: 4px;
}

.layout{
  text-align: center;
}

#projetos{
  padding: 130px 100px 175px;
}

.projeto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 350px;
  flex-grow: 1;
  padding: 16px 21px 21px;
  background-color:linear-gradient(120deg, #ffffff, 35.9%, #4c79d3 50%);
  border: 2px solid linear-gradient(120deg, #ffffff, 42.9%, #4c79d3 45%);
  transition: all 0.6s;
  border-radius: 4px;
}


.projetos-header{
  text-align: center;
  margin-bottom: 40px;
}
.projetos-container{
  display: flex;
  justify-content: center;
  flex-wrap:wrap ;
  gap: 28px;
}
.projeto-titulo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
.projeto-desc{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


p{
  color: #180505;
  font-family: 'Gill Sans', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 155%;
  letter-spacing: 0.03rem;
}
.tech-container{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 15px;
}
.tech{
  color: #030303;
  padding: 5px 10px;
  background: linear-gradient(#e9e4e4,#0c0fa1);
  border-radius: 4px;
  font-weight: bold;
}
h2{
  font-size: 1.8rem;
}
.button {
  border-radius: 10px;
  background-color: #2a35cf;
  color: #fffafa;
  width: 50%;
  margin: 0 25%;
}
.btn{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  transition: color .15s;
}

